page-googlelogin {

}
.bg{
  -webkit-animation: background 10s cubic-bezier(1,0,0,1) infinite;
  animation: background 10s cubic-bezier(1,0,0,1) infinite;
}
@-webkit-keyframes background {
  0% { background-color: #00baba; }
  33% { background-color: #00baba; }
  67% { background-color: #00baba; }
  100% { background-color: #00baba; }
}

@keyframes background {
  0% { background-color: #00baba; }
  33% { background-color: #00baba; }
  67% { background-color: #00baba; }
  100% { background-color: #00baba; }
}
