page-googlelogin {

}
.bg{
-webkit-animation: background 10s cubic-bezier(1,0,0,1) infinite;
animation: background 10s cubic-bezier(1,0,0,1) infinite;
}
@-webkit-keyframes background {
  0% { background-color: #00baba; }
  33% { background-color: #ffb64c; }
  67% { background-color: #99f; }
  100% { background-color: #f99; }
}

@keyframes background {
  0% { background-color: #00baba; }
  33% { background-color: #ffb64c; }
  67% { background-color: #9999ff; }
  100% { background-color: #f99; }
}
